body, html {
	height: 100%;
	width: 100%;
	background-color: #1D76BA;
}

canvas {
	z-index: 0;
	position: absolute;
}

.content {
	overflow: auto;
	position: relative;
	background-color: #eeeeee;
	border-radius: 10px;
	z-index: 2;
	min-height: 45%;
	width: 35%;
	min-width: 340px;
	opacity: 1;
	margin: 0 auto;
	top: 15%;
}

.clearfix {
	width: 100%;
	clear: both;
	content="";
}

.main {
	padding: 15px;
}
.img {
	width: 76px;
	height: 86px;
	background-color: black;
	display: inline-block;
}
.heading {
	width: 64%;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	bottom: 15px;
	position: relative;
}
.blerb {}
p {}