
/* Base styles */
body, html {
	height: 100%;
	width: 100%;
	background-color: #1D76BA;
	margin: 0;
}

canvas {
	z-index: 0;
	position: absolute;
}


.clearfix {
	width: 100%;
	clear: both;
	content="";
}

.content {
	position: relative;
	background-color: #eeeeee;
	border-radius: 10px;
	margin: 0 auto;
}

.main {}

.img {
	display: inline-block;
}

.img img {}

.heading {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	width: 64%;
}

.blerb {}
.blerp p {}

/*Desktop styles*/
@media (min-width:768px) {
	.content {
		min-height: 45%;
		width: 35%;
		top: 15%;
	}
	.main {
		padding: 15px 0 0 0;
	}
	.heading {
		bottom: 1.2em;
	}
	.blerb {
		margin: 0 20px;
	}
	p {
		text-align: left;
		line-height: 22px;
		text-indent: 2em;
	}
	.img, .img img {
		width: 120px;
	}
}

/*Mobiles styles*/

@media (max-width:767px) {
	.content {
		box-sizing: border-box;
		padding: .8em;
		top: 20%;
		width: 80%;
	}
	.blerb p {
		text-indent: 1.8em;
		line-height: 20px;
	}
	.img, .img img {
		width: 86px;
	}
}