html, body {
	background-color: #eee;
	height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
	color: #D3D3D3;
}

#main {
	flex: 1 0 auto;
}

a.plaintext {
	color: rgba(0,0,0,0.87);
}
